MVC/Connected Services/ArtifactService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" />
  <xs:element name="GetArtifacts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtifactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" minOccurs="0" name="GetArtifactsResult" nillable="true" type="q1:ArrayOfArtifactDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtifactsByPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="price" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtifactsByPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" minOccurs="0" name="GetArtifactsByPriceResult" nillable="true" type="q2:ArrayOfArtifactDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtifactById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtifactByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" minOccurs="0" name="GetArtifactByIdResult" nillable="true" type="q3:ArtifactDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostArtifact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" minOccurs="0" name="artifactDTO" nillable="true" type="q4:ArtifactDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostArtifactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostArtifactResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutArtifact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" minOccurs="0" name="artifactDTO" nillable="true" type="q5:ArtifactDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutArtifactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutArtifactResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArtifact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArtifactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteArtifactResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>