MVC/Connected Services/DealerService/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDealerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DealerDTO" nillable="true" type="tns:DealerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDealerDTO" nillable="true" type="tns:ArrayOfDealerDTO" />
  <xs:complexType name="DealerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfJoiningMarket" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasCriminalRecord" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DealerDTO" nillable="true" type="tns:DealerDTO" />
</xs:schema>