MVC/Connected Services/TransactionService/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTransactionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionDTO" nillable="true" type="tns:TransactionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionDTO" nillable="true" type="tns:ArrayOfTransactionDTO" />
  <xs:complexType name="TransactionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artifact" nillable="true" type="tns:ArtifactDTO" />
      <xs:element minOccurs="0" name="ArtifactId" type="xs:int" />
      <xs:element minOccurs="0" name="Buyer" nillable="true" type="tns:DealerDTO" />
      <xs:element minOccurs="0" name="BuyerId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Seller" nillable="true" type="tns:DealerDTO" />
      <xs:element minOccurs="0" name="SellerId" type="xs:int" />
      <xs:element minOccurs="0" name="countryOfTrans" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateOfTrans" type="xs:dateTime" />
      <xs:element minOccurs="0" name="transFee" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionDTO" nillable="true" type="tns:TransactionDTO" />
  <xs:complexType name="ArtifactDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfDiscovery" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dealer" nillable="true" type="tns:DealerDTO" />
      <xs:element minOccurs="0" name="DealerId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsInGoodCondition" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArtifactDTO" nillable="true" type="tns:ArtifactDTO" />
  <xs:complexType name="DealerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfJoiningMarket" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasCriminalRecord" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DealerDTO" nillable="true" type="tns:DealerDTO" />
</xs:schema>