MVC/Connected Services/TransactionService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransactionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransactionService_GetTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactions" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_GetTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_GetTransactionsByCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsByCountry" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_GetTransactionsByCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_GetTransactionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionById" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_GetTransactionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_PostTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:PostTransaction" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_PostTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_PutTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:PutTransaction" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_PutTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_DeleteTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTransaction" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_DeleteTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransactionService">
    <wsdl:operation name="GetTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/GetTransactions" message="tns:ITransactionService_GetTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/GetTransactionsResponse" message="tns:ITransactionService_GetTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsByCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/GetTransactionsByCountry" message="tns:ITransactionService_GetTransactionsByCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/GetTransactionsByCountryResponse" message="tns:ITransactionService_GetTransactionsByCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/GetTransactionById" message="tns:ITransactionService_GetTransactionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/GetTransactionByIdResponse" message="tns:ITransactionService_GetTransactionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/PostTransaction" message="tns:ITransactionService_PostTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/PostTransactionResponse" message="tns:ITransactionService_PostTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/PutTransaction" message="tns:ITransactionService_PutTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/PutTransactionResponse" message="tns:ITransactionService_PutTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/DeleteTransaction" message="tns:ITransactionService_DeleteTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/DeleteTransactionResponse" message="tns:ITransactionService_DeleteTransaction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransactionService" type="tns:ITransactionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTransactions">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/GetTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsByCountry">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/GetTransactionsByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionById">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/GetTransactionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTransaction">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/PostTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutTransaction">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/PutTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTransaction">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/DeleteTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionService">
    <wsdl:port name="BasicHttpBinding_ITransactionService" binding="tns:BasicHttpBinding_ITransactionService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibraryBlackMarket/TransactionService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>